body {
    background:#EEEEEE;
    font-family: "Microsoft YaHei", Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

#right_tool {
    position:fixed;
    right:10px;
    bottom:0;
    z-index:9999;
}

#right_list {
    position:fixed;
    left:0;
    top:50px;
    background:#222222;
    border-color:#080808;
    color:#CCCCCC;
    width:200px;
    height:100%;
    z-index:9999;
}
.barcode {
    position:absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}

ul .dropdown-menu {
    background:#222;
    color:#CCCCCC;
}
ul .dropdown-menu a {
    color:#CCCCCC;
}
.list-group {
    margin:10px;
}
.list-group-item {
    background:#222;
}
#footer {
    border-top:1px #CCC solid;
    height:50px;
    text-align:center;
}

#prev_tool {
    position:fixed;
    left:10px;
    top:auto;
    z-index:9999;
}
#next_tool {
    position:fixed;
    right:10px;
    top:auto;
    z-index:9999;
}
