videos/*
tools/chromium-vim/*
tools/markdown-preview/*
tools/kyo_vim/*
tools/ajing.sql
tools/genSpeaker
tools/ajing.sql.tar.xz
__pycache__/*
*.pyc
oh-my-zsh.tar
backup/*
demo/*
tools/VNC*
*.wmv
tpl_cache/
.exvim.mvc/
*.exvim
*.db
*.png
*.so
tools/kyo_env*
group/demo/sdl_demo/
